.DS_Store
node_modules
/dist
# /dist/
*/dist/
dist/*


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
*/.env
**/.env
*/*.env
/**/.env

*.sw?

labels.json
links.bin
meta.json


#Electron-builder output
/dist_electrondist_electro/
dist_electron
dist.tar.gz
